.App {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: 
  "header header"
  "searchbox searchbox" 
  "results nominations";
}

.header {
  grid-area: header;
}

.searchbox {
  grid-area: searchbox;
}

.nominations {
  grid-area: nominations;
}

.results {
  grid-area: results;
}

* {
  border: 1px solid red;
}

body {
  background-color: rgb(250, 249, 175);
}